

.home-title {
    font-size: 39px;
    font-weight: bolder;
    padding-top: 0px;
    margin-top: 25px;
    margin:auto;
    text-align: center;
}

.sub-title {
    font-size: 27px;
    font-weight: 500;
    margin-top: 75px;
    text-align: center;
}